/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  /*Applied to all tags*/
  box-sizing: border-box; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100px); }
  80% {
    transform: translateX(10px);
    /* come from right to left */ }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px);
    /* come from right to left */ }
  100% {
    opacity: 1;
    transform: translate(0); } }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /*to put two texts above each other use diplay: block*/
  backface-visibility: hidden; }

.heading-primary-main {
  display: block;
  position: relative;
  left: 30px;
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 50px;
  animation: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

.heading-primary-sub {
  display: block;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 17px;
  animation: moveInRight 1s ease-in-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #2e2e2ecc, #000000e8);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s;
  letter-spacing: 2px;
  padding: 0 0 50px 0; }
  .heading-secondary:hover {
    text-shadow: 0.4rem 0.4rem 0.5rem rgba(31, 31, 31, 0.4);
    cursor: pointer;
    transform: scale(1.01); }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #1f1f1fe8; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem; } }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem; } }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -25vh; }

.section-features {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(31, 31, 31, 0.91), rgba(31, 31, 31, 0.8)), url(../../images/2.1.png);
  background-size: cover;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.button-styled {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%); }

.primary-button {
  cursor: pointer;
  font-family: 'Ropa Sans',Helvetica;
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
  padding: 1.3rem 4rem;
  background: url(../paral.svg);
  background-size: 130%;
  background-position: 500%;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
  transition-property: background-position, border,color;
  position: relative;
  z-index: 1; }
  .primary-button:hover {
    border: 2.3px solid #fff;
    color: black;
    background-position: 50%; }
  .primary-button:before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 0.2rem;
    height: 0.2rem;
    top: -1px;
    left: -1px;
    transition: background-color 0.15s ease-in-out; }
  .primary-button:hover:before {
    background-color: #fff; }
  .primary-button:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 0.2rem;
    height: 0.2rem;
    bottom: -1px;
    right: -1px;
    transition: background-color 0.15s ease-in-out; }

.button-borders {
  position: relative;
  width: fit-content;
  height: fit-content; }
  .button-borders:before {
    content: "";
    position: absolute;
    width: calc(100% + 0.9rem);
    height: 50%;
    left: -0.5rem;
    top: -0.5rem;
    border: 2.3px solid #fff;
    border-bottom: 0px;
    opacity: 0.3; }
  .button-borders:after {
    content: "";
    position: absolute;
    width: calc(100% + 0.9rem);
    height: 50%;
    left: -0.5rem;
    bottom: -0.5rem;
    border: 2.3px solid #fff;
    border-top: 0px;
    opacity: 0.3;
    z-index: 0; }

.btn-text:link, .btn-text:visited {
  color: #1f1f1fe8;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #1f1f1fe8;
  padding: 3px;
  font-size: 1.6rem;
  transition: all .2s ease-in-out; }

.btn-text:hover {
  background-color: #1f1f1fe8;
  color: white;
  box-shadow: 0 1rem 2rem rbga(#1f1f1fe8, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 1rem rbga(#1f1f1fe8, 0.15);
  transform: translateY(0); }

.composition {
  position: relative;
  margin-top: 30px; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(31, 31, 31, 0.5);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 0.9rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2.1rem; }
    .composition__photo--p2 {
      right: 1.5rem;
      top: 2.1rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.3rem solid rgba(26, 26, 26, 0.973);
      transform: scale(1.05) translateY(5px);
      box-shadow: 0 2.5rem 4rem rgba(31, 31, 31, 0.6);
      z-index: 20;
      cursor: pointer; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(31, 31, 31, 0.15);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #1f1f1fcc, #000000e8);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(31, 31, 31, 0.91), rgba(31, 31, 31, 0.8)), url(../images/1.jpg);
  background-size: cover;
  /* width of viewport*/
  background-position: top;
  /* Top part remains same while resizing*/
  /* clipping image*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 25px;
  height: 25px; }

.logo {
  height: 45px; }

.text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* positioning middle */ }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
