$color-primary:#1f1f1fe8;
$color-primary-light:#1f1f1fcc;
$color-grey-dark:#777;
$color-white:#fff;
$color-grey-light-1:#f7f7f7;
$color-primary-light-1:#2e2e2ecc;
$color-primary-dark:#000000e8; 

// Grid width


$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;