.composition{
    position: relative;
    margin-top:30px;
    &__photo{
        width:55%;
        box-shadow: 0 1.5rem 4rem rgba($color-primary,0.5);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 0.9rem;
    &--p1{
        left:0;
        top:-2.1rem;
    }

    
    &--p2{
        right:1.5rem;
        top:2.1rem;
    }
    
    &--p3{
        left:20%;
        top:10rem;
    }


    &:hover{
        outline: 1.3rem solid rgba(26, 26, 26, 0.973);
        transform:scale(1.05) translateY(5px);
        box-shadow: 0 2.5rem 4rem rgba($color-primary,0.6);
        z-index: 20;
        cursor: pointer;
    }
}
    // select the one which is not hovered
&:hover &__photo:not(:hover){
    transform:scale(.95);
}
}