
.heading-primary{

    color:$color-white;
    text-transform: uppercase;
    /*to put two texts above each other use diplay: block*/
    backface-visibility: hidden;
}
.heading-primary-main{
    display: block;
    position: relative;
    left:30px;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 50px;
    animation: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    
}
.heading-primary-sub{
    display: block;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 17px;
    animation: moveInRight 1s ease-in-out;
}


.heading-secondary{
    font-size:3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right,$color-primary-light-1, $color-primary-dark);
    -webkit-background-clip: text;
    color:transparent;
    transition: all .2s;
    letter-spacing: 2px;
   padding:0 0 50px 0;
    &:hover{
        text-shadow: 0.4rem 0.4rem 0.5rem rgba($color-primary,0.4);
        cursor: pointer;
        transform:scale(1.01);
        

        
    }
}

.paragraph{
font-size: 1.6rem;
 &:not(:last-child){
     margin-bottom:3rem;
}
}
.heading-tertiary{
font-size: 1.6rem;
font-weight:700;
text-transform: uppercase;
color:$color-primary;
}