.section-about{

    background-color: $color-grey-light-1;
    padding:20rem 0;
    margin-top:-25vh;
}

.section-features{
    
    padding:15rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.91),
        rgba($color-primary-light, 0.8)
    )
    , url(../../images/2.1.png);
    background-size: cover;
    transform: skewY(-7deg);

 & > *{
    transform: skewY(7deg);
}
}